html {
    background-color: black;
}
body {
    background-color: black;
    background-image: url("../../assets/img/poles.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    line-height: 24px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: white;
  }
.container {
    color: black;
    position: relative;
    font-family: Arial;
}
  
.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
.card {
    display: inline-block;
    position: relative;
    max-width: 400px;
    width: 300px;
    max-height: 400px;
    height: 400px;
    background-color: black;
    color: white;
    box-shadow: 1px 1px 5px yellow;
  }

#profiles {
    margin-top: 100px;
}

#image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 260px;
  height: 200px;
}
/*=======================================================================================
                                      Animations
=======================================================================================*/
#prof {
  animation:changeColor 5s infinite;
  transition:all 0.2s ease-in;
}
#prof:hover{
  animation-play-state: paused;
  cursor: pointer;
  z-index: 1;
}

@keyframes changeColor 
{
  0%   { left: 0px; top: 0px;}
  25%  { right: 200px; top: 0px;}
  50%  { left: 200px; right: 200px;}
  75%  { right: 600px; top: 100px;}
  100% { left: 0px; top: 0px;}
}

#prof1 {
  animation:changeColor1 12s infinite;
  transition:all 0.2s ease-in;
}
#prof1:hover{
  animation-play-state: paused;
  cursor: pointer;
  z-index: 1;
}

@keyframes changeColor1 
{
  0%   { left: 0px; top: 0px;}
  25%  { left: 500px; top: 0px;}
  50%  { left: 200px; top: 200px;}
  75%  { left: 0px; top: 500px;}
  100% { left: 0px; top: 0px;}
}

#prof2 {
  animation:changeColor2 12s infinite;
  transition:all 0.2s ease-in;
}
#prof2:hover{
  animation-play-state: paused;
  cursor: pointer;
  z-index: 1;
}

@keyframes changeColor2 
{
  0%   { right: 0px; top: 0px;}
  25%  { right: 600px; top: 0px;}
  50%  { right: 100px; top: 500px;}
  75%  { right: 500px; top: 400px;}
  100% { right: 10px; top: 0px;}
}

#prof3 {
  animation:changeColor3 10s infinite;
  transition:all 0.2s ease-in;
}
#prof3:hover{
  animation-play-state: paused;
  cursor: pointer;
  z-index: 1;
}

@keyframes changeColor3 
{
  0%   { right: 0px; top: 0px;}
  25%  { right: 200px; top: 300px;}
  50%  { right: 500px; top: 200px;}
  75%  { right: 100px; top: 500px;}
  100% { right: 0px; top: 0px;}
}

.modal-body {
  width: fit-content;
  background-color: black;
}
/*=======================================================================================
                                    End Of  Animations
=======================================================================================*/
  /*---------------------------Dayne----------------------------------*/
  * {
    box-sizing: border-box;
  }
  h2
  {
      font-size: 100px;
      color: red;
  }
  
  a {
    color: #FFF200;
    background-color: transparent;
    text-decoration: none;
  }
  
  .img2
  {
      width:90%;
      height: 520px;
      padding-top :30px;
  }
  
  img
  {
      width:80%;
      height: 400px;
      padding-top :10px;
      /* display: flex; */
  }
  
  .header {
    padding: 60px;
    text-align: center;
    border: 15px solid #FFF200;
    color: white;
    background-color: black;
    font-size: 30px;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    /* width: 33.33%; */
    padding: 10px;
    height: 2500px; /* Should be removed. Only for demonstration */
    text-align: center;
  }
  
  .para
  {
      padding-top: 20px;
      color: white;
      width: 100%;
      font-size: 30px;
  }
  
  .left {
    width: 14%;
    border-left: 15px solid;
    border-color: #FFF200;
  
  }
  
  .icons
  {
      position: absolute;
  }
  
  .right {
    width: 14%;
    border-right: 15px solid;
    border-color: #FFF200;
  }
  
  body {
    background-color: black;
  }
  
  .mid1 {
    width: 72%;
  }
  /* .mid2 {
    width: 36%;
  } */
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }