<body>
  <app-nav></app-nav>
  <div id="profiles" class="container text-warning">
    <div class="row">
      <div id="prof" class="col-md-6 col-lg-3" (click)="open(contentID)">
        <div class="card">
          <img id="image" class="card-img-top img-fluid" src="assets/img/2.jpg">
          <div class="card-block">
            <h3 class="card-title">Object ID</h3>
            <p class="card-text">Lorem ninja ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
              euismod tincidunt ut laoreet dolore .</p>
          </div>
        </div>
      </div>
      <div id="prof1" class="col-md-6 col-lg-3" (click)="open(content2)">
        <div class="card">
          <img id="image" class="card-img-top img-fluid" src="assets/img/pic2.png">
          <div class="card-block">
            <h3 class="card-title">Project Tree</h3>
            <p class="card-text">Lorem ninja ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
              euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
          </div>
        </div>
      </div>
      <div id="prof2" class="col-md-6 col-lg-3" (click)="open(content)">
        <div class="card">
          <img id="image" class="card-img-top img-fluid" src="assets/img/wail1.jpg">
          <div class="card-block">
            <h3 class="card-title">Wailing In The Woods</h3>
            <p class="card-text">Lorem ninja ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
              euismod tincidunt ut laoreet dolore magna </p>
          </div>
        </div>
      </div>
      <div id="prof3" class="col-md-6 col-lg-3" (click)="open(content4)">
        <div class="card">
          <img id="image" class="card-img-top img-fluid" src="assets/img/undraw.png">
          <div class="card-block">
            <h3 class="card-title">Project Tree</h3>
            <p class="card-text">Lorem ninja ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
              euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--=======================================================================================
                                    OBJECT ID
  =======================================================================================-->
  <ng-template #contentID let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="header">
        <h1>ObjectID</h1>
        <p> IDing your your car should be as easy as breathing </p>
      </div>
      <div class="row">
        <div div class="column right" style="background-color:black;">
        </div>
        <div class="column mid1" style="background-color:black;">
          <img class="img2" src="assets/img/2.jpg" alt="Girl in a jacket">
          <div class="para" style="background-color:black">
            <p> Name : ObjectID </p>
            <p> Initialized: 2020 </p>
            <p> Creators: Ctrl + Intelligence </p>
            <p> History:<br><br />
              ObjectID is a system which aims to analyse and store information on vehicles that have been identified by
              CCTV camera's, it is then able to identify vehicles based on what it has learnt from these images. What
              sets it apart from the of the shelf offering is the ability to recognise vehicles based on their damage or
              distinguishing features. As a user you can login into the system, and once logged into the system you can
              search to find vehicles matching some criteria.
            </p>
            <p> Link to Repository: <a href="https://github.com/COS301-SE-2020/ObjectID-Backend">Repo</a></p>
          </div>
          <img src="assets/img/11.jpg" alt="Girl in a jacket">
          <img src="assets/img/16.jpg" alt="Girl in a jacket">

        </div>
        <div div class="column left" style="background-color:black;">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">OK</button>
    </div>
  </ng-template>
  <!--=======================================================================================
                                   Project Tree
    =======================================================================================-->
    <ng-template #content2 let-modal>
      <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <div class="modal-body">
        <div class="header">
          <h1>Project Tree</h1>
          <p> The last Project Management tool you'll ever need </p>
      </div>
      <div class="row">
        <div div class="column right" style="background-color:black;">
        </div>
        <div class="column mid1" style="background-color:black;">
          <img class="img2" src="assets/img/undraw_Tree_swing_646s (1).png" alt="Girl in a jacket">
           <div class="para" style="background-color:black">
              <p> Name :  Project Tree </p>
              <p> Initialized:  2020 </p>
              <p> Creators: The B-Team </p>
              <p> History:<br><br/>
                  A project started by the The B-Team, commissioned by EpiUse for a software engineering module COS301
                  at the university of Pretoria. Project Tree is s project management system specifically deisnged for large 
                  corparations to create Projects and tasks with certain dependencies and view those tasks in a graphical form
                  for easier viewing.
              </p>
              <p> Link to Website: <a href="https://projecttree.herokuapp.com/">Website</a></p>
              <p> Link for Mobile download: <a href="https://drive.google.com/file/d/1xgWt-K9mzN6L9JeMkQ-rF9eO_YAiVuRY/view?usp=sharing">App Download</a></p>
          </div>
          <img src="assets/img/Calendar.png" alt="Girl in a jacket">
          <img src="assets/img/Dashboard.png" alt="Girl in a jacket">
          <img src="assets/img/Graph.png" alt="Girl in a jacket">
      
          </div>
        <div div class="column left" style="background-color:black;">
        </div>
      </div>
  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">OK</button>
      </div>
    </ng-template>
  <!--=======================================================================================
                                    Wailing In The Woods
    =======================================================================================-->
  <ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <div class="modal-body">
      <div class="header">
        <h1>Wailing in the Woods</h1>
        <p> Nobody survives the woods </p>
      </div>
      <div class="row">
        <div div class="column right" style="background-color:black;">
        </div>
        <div class="column mid1" style="background-color:black;">
          <img class="img2" src="assets/img/wail1.jpg" alt="Girl in a jacket">
          <div class="para" style="background-color:black">
            <p> Name : Wailing in the Woods </p>
            <p> Initialized: 2020 </p>
            <p> Creators: Earth girls are Easy </p>
            <p> History:<br><br />
              A short film produced by Earth Girls are easy as part of the IMY 320 module at University of Pretoria.
            </p>
            <p> Link to Repository: <a href=""> In development </a></p>
          </div>
          <img src="assets/img/wail3.jpg" alt="Girl in a jacket">
          <img src="assets/img/images (1).jpg" alt="Girl in a jacket">
          <img src="assets/img/wail4.png" alt="Girl in a jacket">

        </div>
        <div div class="column left" style="background-color:black;">
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">OK</button>
    </div>
  </ng-template>
  <!--=======================================================================================
                                   Project Tree
    =======================================================================================-->
    <ng-template #content4 let-modal>
      <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <div class="modal-body">
        <div class="header">
          <h1>Project Tree</h1>
          <p> The last Project Management tool you'll ever need </p>
      </div>
      <div class="row">
        <div div class="column right" style="background-color:black;">
        </div>
        <div class="column mid1" style="background-color:black;">
          <img class="img2" src="assets/img/undraw_Tree_swing_646s (1).png" alt="Girl in a jacket">
           <div class="para" style="background-color:black">
              <p> Name :  Project Tree </p>
              <p> Initialized:  2020 </p>
              <p> Creators: The B-Team </p>
              <p> History:<br><br/>
                  A project started by the The B-Team, commissioned by EpiUse for a software engineering module COS301
                  at the university of Pretoria. Project Tree is s project management system specifically deisnged for large 
                  corparations to create Projects and tasks with certain dependencies and view those tasks in a graphical form
                  for easier viewing.
              </p>
              <p> Link to Website: <a href="https://projecttree.herokuapp.com/">Website</a></p>
              <p> Link for Mobile download: <a href="https://drive.google.com/file/d/1xgWt-K9mzN6L9JeMkQ-rF9eO_YAiVuRY/view?usp=sharing">App Download</a></p>
          </div>
          <img src="assets/img/Calendar.png" alt="Girl in a jacket">
          <img src="assets/img/Dashboard.png" alt="Girl in a jacket">
          <img src="assets/img/Graph.png" alt="Girl in a jacket">
      
          </div>
        <div div class="column left" style="background-color:black;">
        </div>
      </div>
  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">OK</button>
      </div>
    </ng-template>
</body>
